aiohttp>=3.7.4,<=3.7.4
asyncio==3.4.3
azure-ai-formrecognizer==3.1.2
azure-cognitiveservices-vision-computervision==0.9.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-common==1.1.27
azure-core>=1.10.0
azure-cosmos==4.2.0
azure-cosmosdb-table==1.0.6
azure-data-tables==12.1.0
azure-functions==1.7.2
azure-identity
azure-keyvault-secrets==4.3.0
azure-keyvault==4.1.0
azure-kusto-data==2.0.0
azure-mgmt-compute
azure-mgmt-deploymentmanager
azure-mgmt-resource
azure-search-documents==11.3.0b2
azure-servicebus==7.3.2
azure-storage-blob<13.0.0,>=12.6.0
azure-storage-common==2.1.0
azure-storage-file-datalake==12.4.0
azure-storage-file==2.1.0
azure-storage-nspkg==3.1.0
azure-storage-queue==12.1.6
azure-storage==0.36.0
azure-ai-anomalydetector<=3.0.0b3
azure-ai-metricsadvisor<2.0.0
azureml-contrib-automl-pipeline-steps==1.33.0
azureml-contrib-reinforcementlearning==1.33.0
azureml-core==1.33.0
azureml-defaults==1.33.0
azureml-pipeline==1.33.0
azureml-train==1.33.0
beautifulsoup4
cached-property==1.5.2
chardet
ciso8601==2.2.0
click==7.1.2
commondatamodel-objectmodel==1.3.1
cornac==1.13.5
cppy==1.1.0
cryptography>=3.3,<=3.4.7
cvxopt>=1.2.6
cvxpy>=1.1.10
cycler>=0.10.0
databricks-cli==0.15.0
datasets==1.12.0
dateparser==1.0.0
descartes==1.1.0
dm-tree==0.1.6
eli5==0.11.0
fairlearn==0.5.0
fastai>=2.2.7,<=2.3.1
fastapi==0.65.2
feedparser==5.2.1
Flask-Login==0.5.0
flask>=1.0.3,<1.1.5
GDAL==2.4.2
GeoAlchemy2==0.9.4
geopandas==0.8.2
gym>=0.15.6
h5py
holidays==0.11.1
hyperopt
interpret-core==0.2.6
ipywidgets>=7.0.0
itsdangerous==1.1.0
jieba3k==0.35.1
Jinja2==2.11.3
joblib==1.0.1
keplergl==0.3.0
kiwisolver>=1.0.0
lasio==0.25.0
lightgbm==2.3.0
lxml>=4.6.3
MarkupSafe==1.1.1
matplotlib
mapclassify==2.4.3
msrest
msrestazure==0.6.4
nbformat==5.1.3
netCDF4==1.5.7
networkx==2.5.1
newspaper3k==0.2.8
nltk==3.6.4
numba==0.52.0
opencensus-ext-azure>=1.0.5
opencv-python-headless==4.3.0.36
opencv-python==4.4.0.42
ortools==9.0.9048
pandas==1.1.3
pastel>=0.2.0,<0.3.0
pathfinder==0.6.2
pathlib2>=2.2.0
pathspec==0.9.0
pathtools
pbr==5.8.0
Pillow==8.2.0
pip==21.1.3
pkgconfig
playfab==0.0.201014
plotly>=4.14.3
pluggy==0.13.1
preshed==3.0.5
protobuf==3.17.3
psycopg2==2.8.6
pulp==2.5.0
pyarrow>=1.0.1
pydantic==1.7.4
pykrige==1.6.0
pyjwt==2.1.0
pymaro==0.2.3a3
pyodbc==4.0.32
pypandoc==1.6.3
pyparsing>=2.0.3
pyscaffold==4.0.2
pyspark==2.4.5
python-dateutil>=2.1
python-dotenv==0.19.0
pytorch-pretrained-bert==0.6.2
pytz==2021.1
pyvis==0.1.9
Pygments>=2.7.4
pyyaml==5.4.1
randomgen==1.19.3
rasterio==1.2.6
ray==1.1.0
ray[rllib]==1.1.0
recommenders==0.6.0
regex==2020.11.13
requests>=2.24.0
rioxarray==0.3.1
scikit-learn
scipy==1.5.4
seaborn==0.11.1
sentencepiece==0.1.96
sentinelsat==1.1.0
seqeval==1.2.2
setuptools==57.4.0
skorch==0.10.0
spacy==3.0.4
spacy-universal-sentence-encoder==0.4.3
syncer==1.3.0
tensorflow==2.6.0
termcolor==1.1.0
toml==0.10.2
torch==1.7.1
torchvision==0.8.2
tk
tqdm==4.62.2
transformers==4.10.0
urllib3>=1.26.5
utm==0.7.0
uvicorn==0.15.0
validators==0.18.2
Werkzeug==1.0.1
wget==3.2
wheel
xlrd>=1.0.0
