adal
azure-mgmt-deploymentmanager
azure-mgmt-resource>=12.1.0
azure-storage-blob
azure-identity>=1.4.1
azure-keyvault==4.1.0
azureml-core==1.41.0.post1
certifi
cryptography>=3.3.1
msrestazure>=0.6.4
python-dateutil
python-dotenv>=0.14.0,<0.20.0
pyyaml
requests
six>=1.10
urllib3>=1.15
wget
