bandit==1.7.4
black==19.10b0
flake8==3.9.2
mock==4.0.2
mypy==0.910
pylint==2.9.5
pylint_junit
pytest-cov==2.12.1
pytest-mock<=3.6.1
pytest-runner
pytest==6.2.1
testpath==0.5.0
typing-extensions>=3.7.4.3,<3.11.0.0
