attrs==19.3.0
azureml-contrib-reinforcementlearning>=1.21.0
bandit==1.6.2
black==19.10b0
check-manifest==0.45
cryptography>=3.3,<3.5.0
Cython
flake8-bugbear==21.4.3
flake8-docstrings
flake8-formatter_junit_xml
flake8==3.9.2
flit-core==2.3.0
flit==2.3.0
ipykernel
ipyleaflet<0.15.0
junit-xml==1.8
jupyter-packaging<0.8
lxml>=4.6.2
mock==4.0.2
mypy==0.720
numpy==1.19.5
papermill==2.3.3
pathlib2>=2.2.0
pbr==5.4.5
pre-commit==2.8.2
pylint>=2.7.0
pylint_junit
pytest-cov==2.7.1
pytest-mock<=3.6.1
pytest-runner
pytest==6.2.1
scrapbook==0.5.0
setuptools-scm
setuptools==57.4.0
shellcheck-py==0.7.1.1
syncer==1.3.0
testpath==0.4.4
typing-extensions==3.7.4.3
tqdm==4.46.0
