include requirements.txt
include test/requirements.txt

include ai-python/microsoft/ama.requirements.txt
include ai-python/maro/maro.requirements.txt

include ai-python/retail/fclib.requirements.txt

include ai-python/fsi/risk.requirements.txt

include ai-python/log/ip.requirements.txt
include ai-python/log/ro.requirements.txt
include ai-python/log/ecr.requirements.txt
