-c ./.depends/re.fclib.requirements.txt
-c ./.depends/re.retail.requirements.txt
-c ./.depends/cdm.cdm.requirements.txt
-c ./.depends/en.km.requirements.txt
-c ./.depends/en.ca.requirements.txt
-c ./.depends/fsi.nlp.requirements.txt
-c ./.depends/fsi.risk.requirements.txt
-c ./.depends/gem.ent.requirements.txt
-c ./.depends/gem.reco.requirements.txt
-c ./.depends/maro.maro.requirements.txt
-c ./.depends/msft.ama.requirements.txt
-c ./.depends/msft.reco.requirements.txt
-c ./.depends/msft.utils.requirements.txt
-c ./.depends/sc.ecr.requirements.txt
-c ./.depends/sc.ip.requirements.txt
-c ./.depends/sc.ro.requirements.txt
