aiohttp>=3.7.4
asyncio==3.4.3
azure-ai-formrecognizer==3.1.0
azure-cognitiveservices-vision-computervision==0.8.0
azure-cognitiveservices-vision-customvision==1.0.0
azure-common==1.1.26
azure-core>=1.10.0
azure-cosmos==4.2.0
azure-cosmosdb-table==1.0.6
azure-data-tables==12.0.0b1
azure-functions==1.3.0
azure-identity<1.5.0
azure-keyvault-secrets==4.2.0
azure-keyvault==4.1.0
azure-kusto-data==2.0.0
azure-mgmt-compute
azure-mgmt-deploymentmanager
azure-mgmt-resource
azure-search-documents==11.1.0b3
azure-servicebus==0.50.3
azure-storage-blob<13.0.0,>=12.6.0
azure-storage-common==2.1.0
azure-storage-file-datalake
azure-storage-file==2.1.0
azure-storage-nspkg==3.1.0
azure-storage-queue==12.1.4
azure-storage==0.36.0
azure-ai-anomalydetector<=3.0.0b3
azure-ai-metricsadvisor<=1.0.0b3
azureml-contrib-automl-pipeline-steps>=1.21.0
azureml-contrib-reinforcementlearning>=1.21.0
azureml-core>=1.21.0.post2
azureml-defaults>=1.21.0
azureml-pipeline>=1.21.0
azureml-train>=1.21.0
beautifulsoup4
cached-property==1.5.1
chardet
ciso8601==2.1.3
click==7.1.2
commondatamodel-objectmodel==1.2.2
cornac==1.7.1
cppy==1.1.0
cryptography>=3.3,<=3.4.7
cvxopt>=1.2.6
cvxpy>=1.1.10
cycler>=0.10.0
databricks-cli==0.14.1
datasets==1.3.0
dateparser==0.7.6
descartes==1.1.0
dm-tree==0.1.5
eli5==0.11.0
fairlearn==0.5.0
fastai>=2.2.7,<=2.3.1
fastapi==0.65.2
feedparser==5.2.1
Flask-Login==0.5.0
flask>=1.0.3,<=1.1.1
GDAL==2.4.2
GeoAlchemy2==0.8.4
geopandas==0.8.2
gym>=0.15.6
h5py
holidays==0.11.1
hyperopt
interpret-core==0.2.0
ipywidgets>=7.0.0
itsdangerous==1.1.0
jieba3k==0.35.1
Jinja2==2.11.3
joblib==0.16.0
keplergl==0.2.2
kiwisolver>=1.0.0
lasio==0.25.0
lightgbm==2.3.0
llvmlite==0.35.0
lxml>=4.6.3
MarkupSafe==1.1.1
matplotlib
mapclassify==2.4.2
msrest
msrestazure==0.6.4
nbformat==5.1.3
netCDF4==1.5.4
networkx==2.5.1
newspaper3k==0.2.8
nltk==3.5
numba==0.52.0
opencensus-ext-azure>=1.0.5
opencv-python-headless==4.3.0.36
opencv-python==4.3.0.36
ortools==7.8.7959
pandas==1.1.3
pastel>=0.2.0,<0.3.0
pathfinder==0.6.2
pathlib2>=2.2.0
pathspec==0.8.0
pathtools
pbr==5.4.5
Pillow>=6.2
pip==21.1.3
pkgconfig
playfab==0.0.200914
plotly>=4.14.3
pluggy==0.13.1
preshed==3.0.4
protobuf==3.14.0
psycopg2==2.8.6
pulp==2.4
pyarrow>=1.0.1
pydantic==1.7.4
pykrige==1.5.1
pyjwt==2.1.0
pymaro==0.2.3a2
pyodbc==4.0.30
pypandoc==1.5.0
pyparsing>=2.0.3
pyscaffold==3.2.1
pyspark==2.4.5
python-dateutil>=2.1
python-dotenv==0.14.0
pytorch-pretrained-bert==0.6.2
pytz==2020.1
pyvis==0.1.9
Pygments>=2.7.4
pyyaml==5.4.1
randomgen==1.19.3
rasterio==1.2.1
ray==1.1.0
ray[rllib]==1.1.0
recommenders<=0.6.0
regex==2020.11.13
requests>=2.24.0
rioxarray==0.3.1
scikit-learn
scipy==1.5.4
seaborn==0.10.1
sentencepiece==0.1.95
sentinelsat==0.14
seqeval==1.2.2
setuptools==51.1.1
skorch>=0.10.0
spacy==3.0.4
spacy-universal-sentence-encoder==0.4.3
syncer==1.3.0
tensorflow==2.5
termcolor==1.1.0
toml==0.10.1
torch==1.7.1
torchvision==0.8.2
tk
tqdm==4.46.0
transformers==4.5.0
urllib3>=1.26.5
utm==0.6.0
uvicorn==0.12.2
validators==0.18.2
Werkzeug==1.0.1
wget==3.2
wheel
xlrd>=1.0.0
