# This is a basic workflow to help you get started with Actions

name: Update Version

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Bump version
      uses: remorses/bump-version@js
      with:
          version_file: ./VERSION
          github_token: ${{ secrets.GITHUB_TOKEN }}
          - name: Git Version
        uses: codacy/git-version@2.4.0
        with:
          release-branch: main
      - name: Echo Version
        run: |
          echo "version = $VERSION"
